@{
    ViewData["Title"] = "todo list";
}
@using System.Threading.Tasks
@using TodoList.Entity
@using TodoList.Entity.Enums
@functions{
    private string ConvertStr(int status)
    {
        string colrStr = "";
        if (status == (int)TodoStatusEnum.New)
        {
            colrStr = "#337ab7";
        }
        else if (status == (int)TodoStatusEnum.Deleted)
        {
            colrStr = "#333";
        }
        else if (status == (int)TodoStatusEnum.Processing)
        {
            colrStr = "#5bc0de";
        }
        else if (status == (int)TodoStatusEnum.Finished)
        {
            colrStr = "#5cb85c";
        }

        return colrStr;
    }

    private string Selected(int status)
    {

        if (status == (int)TodoStatusEnum.Deleted || status == (int)TodoStatusEnum.Finished)
            return "checked disabled";
        return "";
    }
}

@model IEnumerable<TodoList.Entity.TodoItem>
<div class="row" style="margin-top:8px;">
    <div class="col-md-6  panel panel-default">
        <h2 class="glyphicon glyphicon-calendar">重要&紧急的事情 <a asp-action="Add" class="btn btn-link" asp-controller="Todo">添加待办</a></h2><hr />
        <ul class="list-group">
            @{
                foreach (var item in (IEnumerable<TodoItem>) ViewBag.AAList)
                {
                    <li class="list-group-item">
                        <input type="checkbox" onclick="doit(@item.Id,@item.Status);" id="chkfaa_@item.Id" @Selected(item.Status)>
                        <a asp-action="Edit" asp-controller="Todo" asp-route-id="@item.Id">@item.Title</a>

                        <sup>
                            <span style="background-color: @ConvertStr(item.Status);color:white;">
                                @Enum.Parse(typeof(TodoStatusEnum), item.Status.ToString())
                            </span>
                        </sup>
                        &nbsp;&nbsp;&nbsp;&nbsp;<i>@item.CreateTime.ToString("yyyy-M-d dddd")</i>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="col-md-6  panel panel-default">
        <h2 class="glyphicon glyphicon-calendar">重要&不紧急的事情 <a asp-action="Add" class="btn btn-link" asp-controller="Todo">添加待办</a></h2><hr />
        <ul class="list-group">
            @{
                foreach (var item in (IEnumerable<TodoItem>) ViewBag.ABList)
                {
                    <li class="list-group-item">
                        <input type="checkbox" onclick="doit(@item.Id,@item.Status);" id="chkfab_@item.Id" @Selected(item.Status)>
                        <a asp-action="Edit" asp-controller="Todo" asp-route-id="@item.Id">@item.Title</a>
                        <sup>
                            <span style="background-color: @ConvertStr(item.Status); color: white;">
                                @Enum.Parse(typeof(TodoStatusEnum), item.Status.ToString())
                            </span>
                        </sup>&nbsp;&nbsp;&nbsp;&nbsp;<i>@item.CreateTime.ToString("yyyy-M-d dddd")</i>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6  panel panel-default">
        <h2 class="glyphicon glyphicon-calendar">不重要&紧急的事情 <a asp-action="Add" class="btn btn-link" asp-controller="Todo">添加待办</a></h2><hr />
        <ul class="list-group">
            @{
                foreach (var item in (IEnumerable<TodoItem>) ViewBag.BCList)
                {
                    <li class="list-group-item">
                        <input type="checkbox" onclick="doit(@item.Id,@item.Status);" id="chkfbc_@item.Id" @Selected(item.Status)>
                        <a asp-action="Edit" asp-controller="Todo" asp-route-id="@item.Id">@item.Title</a>
                        <sup>
                            <span style="background-color: @ConvertStr(item.Status); color: white;">
                                @Enum.Parse(typeof(TodoStatusEnum), item.Status.ToString())
                            </span>
                        </sup>&nbsp;&nbsp;&nbsp;&nbsp;<i>@item.CreateTime.ToString("yyyy-M-d dddd")</i>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="col-md-6  panel panel-default">
        <h2 class="glyphicon glyphicon-calendar">不重要&不紧急的事情 <a asp-action="Add" class="btn btn-link" asp-controller="Todo">添加待办</a></h2><hr />
        <ul class="list-group">
            @{
                foreach (var item in (IEnumerable<TodoItem>) ViewBag.CCList)
                {
                    <li class="list-group-item">
                        <input type="checkbox" onclick="doit(@item.Id,@item.Status);" id="chkfcc_@item.Id" @Selected(item.Status)>
                        <a asp-action="Edit" asp-controller="Todo" asp-route-id="@item.Id">@item.Title</a>
                        <sup>
                            <span style="background-color:  @ConvertStr(item.Status); color: white;">
                                @Enum.Parse(typeof(TodoStatusEnum), item.Status.ToString())
                            </span>
                        </sup>&nbsp;&nbsp;&nbsp;&nbsp;<i>@item.CreateTime.ToString("yyyy-M-d dddd")</i>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body" id="myModal_msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts{
    
    <script>
        var doit = function (id, status) {
            if (status === 2) return;
            var s = 2;

            $.ajax({
                type: 'GET',
                url: '/todo/done?r=' + Math.random(),
                data: "id=" + id + "&status=" + s,
                success: function (data) {
                    $('#myModal').modal('show');
                    if (data.code === 0) {
                        // todo 根据返回状态，弹层处理
                        $("#myModal_msg").html("恭喜你完成此任务！" + id);
                        //reload();
                    }
                    setTimeout(function () {
                        $('#myModal').modal('hide');
                        $("#myModal_msg").html("");
                    },
                        2000);
                }
            });
        };
    </script>

}